__pycache__
/yolo_model_generator/fonts/
/yolo_model_generator/data_set_detect/
/yolo_model_generator/data_set_ocr/
/yolo_model_generator/yolo_output_detect/
/yolo_model_generator/yolo_output_ocr/
/yolo_model_generator/test_detect/
/yolo_model_generator/test_ocr/
/yolo_model_generator/yolo26n.pt
/yolo_model_generator/yolo26n-seg.pt
/yolo_model_generator/yolo26m.pt
/yolo_model_generator/yolo26m-seg.pt
/anpr/*/logs
/anpr/*/outputs
.env
credentials.json
token.json
.*