/__pycache__/
/generate_yolo_model/__pycache__/
/generate_yolo_model/fonts/
/generate_yolo_model/data_set_detect/
/generate_yolo_model/data_set_ocr/
/generate_yolo_model/yolo_output_detect/
/generate_yolo_model/yolo_output_ocr/
/generate_yolo_model/test_detect/
/generate_yolo_model/test_ocr/
/generate_yolo_model/yolo11n.pt
/generate_yolo_model/yolo11n-seg.pt
/outputs/
/logs/
.env
